.form-div {
  margin-top: 60px;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: auto;
  width: 100%;
  form {
    margin-top: 20px;
    .url {
      margin-bottom: 20px;
      font-size: 15px;
    }
    #body {
      margin-top: 10px;
    }
    .btn-click {
      display: inline-block;
      margin: 4px;
      width: 75px;
    }
  }
}
input[type="url"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 20;
  background-color: #1b1b1b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}
input[type="submit"]:hover {
  background: rgb(245, 242, 242);
  color: black;
}
